In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
new_cases=pd.read_csv('../datasets_Tableau_clean//new_daily_cases_clean.csv')
new_cases['dateRep'] = pd.to_datetime(new_cases['dateRep'],errors='coerce')

In [4]:
new_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22069 entries, 0 to 22068
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               22069 non-null  int64
 1   dateRep                  22069 non-null  datetime64[ns]
 2   day                      22069 non-null  int64
 3   month                    22069 non-null  int64
 4   year                     22069 non-null  int64
 5   cases                    22069 non-null  float64
 6   deaths                   22069 non-null  float64
 7   countriesAndTerritories  22069 non-null  object
 8   geoId                    22069 non-null  object
 9   countryterritoryCode     22069 non-null  object
 10  popData2020              22069 non-null  int64
 11  continentExp             22069 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 2.0+ MB

In [8]:
to_drop=['Unnamed: 0','day','month','year','countriesAndTerritories','countryterritoryCode','continentExp']
new_cases_clean=new_cases.sort_values(['dateRep', 'geoId'], axis=0, ascending=True).drop(to_drop,axis=1)
new_cases_clean_norm=new_cases_clean.copy()
new_cases_clean_norm['cases_per_100khab']=new_cases_clean_norm['cases']/new_cases_clean_norm['popData2020']*100000
new_cases_clean_norm['deaths_per_100khab']=new_cases_clean_norm['deaths']/new_cases_clean_norm['popData2020']*100000
new_cases_clean_norm=new_cases_clean_norm.drop(['cases','deaths','popData2020'], axis=1).reset_index().drop('index',axis=1)
new_cases_clean_norm['year_week']=new_cases_clean_norm['dateRep'].dt.strftime('%Y-%W')

nc_df=new_cases_clean_norm.copy()

In [9]:
new_columns=['dateRep','year_week', 'geoId','cases_per_100khab', 'deaths_per_100khab']
nc_df=nc_df[new_columns]
nc_df.head()

     dateRep year_week geoId  cases_per_100khab  deaths_per_100khab
0 2020-01-01   2020-00    ES           0.002113                 0.0
1 2020-01-01   2020-00    FI           0.018099                 0.0
2 2020-01-02   2020-00    CZ           0.000000                 0.0
3 2020-01-02   2020-00    DE           0.001202                 0.0
4 2020-01-02   2020-00    ES           0.033803                 0.0

In [10]:
nc_df['cmltve_cases']=nc_df.groupby(['geoId'])['cases_per_100khab'].cumsum()
nc_df['cmltve_deaths']=nc_df.groupby(['geoId'])['deaths_per_100khab'].cumsum()

In [11]:
nc_df[nc_df['geoId']=='ES'].head(10)

,dateRep,year_week,geoId,cases_per_100khab,deaths_per_100khab,cmltve_cases,cmltve_deaths
0,2020-01-01,2020-00,ES,0.002113,0.000000,0.002113,0.000000
4,2020-01-02,2020-00,ES,0.033803,0.000000,0.035916,0.000000
15,2020-01-03,2020-00,ES,1.445092,0.000000,1.481008,0.000000
38,2020-01-04,2020-00,ES,11.499471,1.890874,12.980479,1.890874
68,2020-01-05,2020-00,ES,1.527488,0.371837,14.507967,2.262710
98,2020-01-06,2020-01,ES,0.836632,0.073945,15.344599,2.336655
128,2020-01-07,2020-01,ES,1.174666,0.021127,16.519265,2.357782
158,2020-01-08,2020-01,ES,7.612088,0.025352,24.131353,2.383135
188,2020-01-09,2020-01,ES,24.133465,0.143664,48.264818,2.526799
218,2020-01-10,2020-01,ES,22.303860,0.285216,70.568678,2.812015

In [12]:
nc_df.to_csv('../datasets_Tableau_clean/new_cases_dataset.csv')

### Conclusions regarding the data
The "new_cases_dataset.csv" is now ready. It has clean data, and the corresponding cumulative columns. It has a higher level of detail than the vaccination dataset; therefore, if we want to join both we will have to aggregate the "new_cases_dataset" by week.