In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
new_daily_cases=pd.read_csv('../EU_EEA_datasets/Data on the daily number of new reported COVID-19 cases and deaths by EU_EEA country.csv')

In [3]:
new_daily_cases

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,02/03/2022,2,3,2022,29480.0,11.0,Austria,AT,AUT,8901064,Europe
1,01/03/2022,1,3,2022,42167.0,27.0,Austria,AT,AUT,8901064,Europe
2,28/02/2022,28,2,2022,27968.0,22.0,Austria,AT,AUT,8901064,Europe
3,27/02/2022,27,2,2022,21608.0,25.0,Austria,AT,AUT,8901064,Europe
4,26/02/2022,26,2,2022,22497.0,24.0,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
22064,08/02/2020,8,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
22065,07/02/2020,7,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
22066,06/02/2020,6,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
22067,05/02/2020,5,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
22068,04/02/2020,4,2,2020,1.0,0.0,Sweden,SE,SWE,10327589,Europe

In [4]:
new_daily_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22069 entries, 0 to 22068
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  22069 non-null  object
 1   day                      22069 non-null  int64
 2   month                    22069 non-null  int64
 3   year                     22069 non-null  int64
 4   cases                    22041 non-null  float64
 5   deaths                   21967 non-null  float64
 6   countriesAndTerritories  22069 non-null  object
 7   geoId                    22069 non-null  object
 8   countryterritoryCode     22069 non-null  object
 9   popData2020              22069 non-null  int64
 10  continentExp             22069 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 1.9+ MB

In [5]:
new_daily_cases_clean=new_daily_cases.copy()
new_daily_cases_clean['dateRep'] = pd.to_datetime(new_daily_cases['dateRep'],errors='coerce')

In [6]:
#new_daily_cases_clean['dateRep']

In [7]:
new_daily_cases_clean['deaths'].fillna(0, inplace=True)
new_daily_cases_clean['cases'].fillna(0, inplace=True)

In [8]:
new_daily_cases_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22069 entries, 0 to 22068
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  22069 non-null  datetime64[ns]
 1   day                      22069 non-null  int64
 2   month                    22069 non-null  int64
 3   year                     22069 non-null  int64
 4   cases                    22069 non-null  float64
 5   deaths                   22069 non-null  float64
 6   countriesAndTerritories  22069 non-null  object
 7   geoId                    22069 non-null  object
 8   countryterritoryCode     22069 non-null  object
 9   popData2020              22069 non-null  int64
 10  continentExp             22069 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 1.9+ MB

In [9]:
new_daily_cases_clean.to_csv('../datasets_Tableau_clean//new_daily_cases_clean.csv')