In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
fourteen_day_report=pd.read_csv('../EU_EEA_datasets/data_14_day_notification.csv')

In [5]:
fourteen_day_report

,country,country_code,continent,population,indicator,weekly_count,year_week,rate_14_day,cumulative_count,source,note
0,Afghanistan,AFG,Asia,38928341,cases,0.0,2020-01,NaN,0,Epidemic intelligence national data,NaN
1,Afghanistan,AFG,Asia,38928341,cases,0.0,2020-02,0.000000,0,Epidemic intelligence national data,NaN
2,Afghanistan,AFG,Asia,38928341,cases,0.0,2020-03,0.000000,0,Epidemic intelligence national data,NaN
3,Afghanistan,AFG,Asia,38928341,cases,0.0,2020-04,0.000000,0,Epidemic intelligence national data,NaN
4,Afghanistan,AFG,Asia,38928341,cases,0.0,2020-05,0.000000,0,Epidemic intelligence national data,NaN
...,...,...,...,...,...,...,...,...,...,...,...
46709,Zimbabwe,ZWE,Africa,14862927,deaths,25.0,2022-05,4.575142,5362,Epidemic intelligence national data,NaN
46710,Zimbabwe,ZWE,Africa,14862927,deaths,12.0,2022-06,2.489415,5374,Epidemic intelligence national data,NaN
46711,Zimbabwe,ZWE,Africa,14862927,deaths,12.0,2022-07,1.614756,5386,Epidemic intelligence national data,NaN
46712,Zimbabwe,ZWE,Africa,14862927,deaths,8.0,2022-08,1.345630,5394,Epidemic intelligence national data,NaN
46713,Zimbabwe,ZWE,Africa,14862927,deaths,5.0,2022-09,0.874659,5399,Epidemic intelligence national data,NaN

In [6]:
fourteen_day_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46714 entries, 0 to 46713
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country           46714 non-null  object
 1   country_code      45354 non-null  object
 2   continent         46714 non-null  object
 3   population        46714 non-null  int64
 4   indicator         46714 non-null  object
 5   weekly_count      46328 non-null  float64
 6   year_week         46714 non-null  object
 7   rate_14_day       45872 non-null  float64
 8   cumulative_count  46714 non-null  int64
 9   source            46714 non-null  object
 10  note              26 non-null     object
dtypes: float64(2), int64(2), object(7)
memory usage: 3.9+ MB

In [7]:
fourteen_day_report[fourteen_day_report['continent']=='Europe']

,country,country_code,continent,population,indicator,weekly_count,year_week,rate_14_day,cumulative_count,source,note
452,Albania,ALB,Europe,2845955,cases,2.0,2020-10,NaN,2,Epidemic intelligence national data,NaN
453,Albania,ALB,Europe,2845955,cases,40.0,2020-11,1.475779,42,Epidemic intelligence national data,NaN
454,Albania,ALB,Europe,2845955,cases,47.0,2020-12,3.056970,89,Epidemic intelligence national data,NaN
455,Albania,ALB,Europe,2845955,cases,123.0,2020-13,5.973390,212,Epidemic intelligence national data,NaN
456,Albania,ALB,Europe,2845955,cases,149.0,2020-14,9.557424,361,Epidemic intelligence national data,NaN
...,...,...,...,...,...,...,...,...,...,...,...
44153,United Kingdom,GBR,Europe,68059863,deaths,1474.0,2022-05,39.494643,158318,Epidemic intelligence national data,NaN
44154,United Kingdom,GBR,Europe,68059863,deaths,1287.0,2022-06,40.567228,159605,Epidemic intelligence national data,NaN
44155,United Kingdom,GBR,Europe,68059863,deaths,976.0,2022-07,33.250140,160581,Epidemic intelligence national data,NaN
44156,United Kingdom,GBR,Europe,68059863,deaths,780.0,2022-08,25.800816,161361,Epidemic intelligence national data,NaN
44157,United Kingdom,GBR,Europe,68059863,deaths,786.0,2022-09,23.009156,162147,Epidemic intelligence national data,NaN

In [5]:
new_daily_cases_clean=new_daily_cases.copy()
new_daily_cases_clean['dateRep'] = pd.to_datetime(new_daily_cases['dateRep'],errors='coerce')

In [6]:
#new_daily_cases_clean['dateRep']

In [7]:
new_daily_cases_clean['deaths'].fillna(0, inplace=True)
new_daily_cases_clean['cases'].fillna(0, inplace=True)

In [8]:
new_daily_cases_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22069 entries, 0 to 22068
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   dateRep                  22069 non-null  datetime64[ns]
 1   day                      22069 non-null  int64
 2   month                    22069 non-null  int64
 3   year                     22069 non-null  int64
 4   cases                    22069 non-null  float64
 5   deaths                   22069 non-null  float64
 6   countriesAndTerritories  22069 non-null  object
 7   geoId                    22069 non-null  object
 8   countryterritoryCode     22069 non-null  object
 9   popData2020              22069 non-null  int64
 10  continentExp             22069 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 1.9+ MB

In [9]:
new_daily_cases_clean.to_csv('../datasets_Tableau_clean//new_daily_cases_clean.csv')