In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
vaccination_EU_EEA=pd.read_csv("../EU_EEA_datasets/Data_on_COVID-19_vaccination_in_the_EU_EEA.csv")

In [4]:
vaccination_EU_EEA

,YearWeekISO,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Vaccine,Population
0,2020-W53,AT,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,JANSS,8901064
1,2020-W53,AT,8901064.0,61425.0,0.0,5313,NaN,0,0,0,AT,ALL,COM,8901064
2,2020-W53,AT,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,NVXD,8901064
3,2020-W53,AT,8901064.0,0.0,0.0,3,NaN,0,0,0,AT,ALL,UNK,8901064
4,2020-W53,AT,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,MOD,8901064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239848,2022-W09,SK,391090.0,0.0,0.0,0,NaN,0,3,0,SK,Age70_79,JANSS,5457873
239849,2022-W09,SK,184680.0,0.0,0.0,0,NaN,0,1,0,SK,Age80+,JANSS,5457873
239850,2022-W09,SK,184680.0,0.0,0.0,0,NaN,2,0,0,SK,Age80+,MOD,5457873
239851,2022-W09,SK,184680.0,0.0,0.0,6,NaN,36,44,0,SK,Age80+,COM,5457873
239852,2022-W09,SK,NaN,0.0,0.0,0,NaN,1,0,0,SK,AgeUNK,COM,5457873

In [5]:
vaccination_EU_EEA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239853 entries, 0 to 239852
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YearWeekISO          239853 non-null  object
 1   ReportingCountry     239853 non-null  object
 2   Denominator          139244 non-null  float64
 3   NumberDosesReceived  37717 non-null   float64
 4   NumberDosesExported  27283 non-null   float64
 5   FirstDose            239853 non-null  int64
 6   FirstDoseRefused     1440 non-null    float64
 7   SecondDose           239853 non-null  int64
 8   DoseAdditional1      239853 non-null  int64
 9   UnknownDose          239853 non-null  int64
 10  Region               239853 non-null  object
 11  TargetGroup          239853 non-null  object
 12  Vaccine              239853 non-null  object
 13  Population           239853 non-null  int64
dtypes: float64(4), int64(5), object(5)
memory usage: 25.6+ MB

By observing the info from the dataset, I decide to exclude the following columns that contain the null values: NumberDosesReceived, NumberDosesExported, FirstDoseRefused. This is because I don't think these are features that can contribute to the analysis at this stage. Can consider them later on.

The feature "Denominator" is a bit more puzzling. The description of it from the dataset documentation does not clarify much its meaning. Therefore, we will also drop it from the dataset for the dashboard.

In [6]:
#Converting to datetime object
vaccination_EU_EEA_clean=vaccination_EU_EEA.copy().drop(labels=['Denominator','NumberDosesReceived', 'NumberDosesExported', 'FirstDoseRefused'], axis=1)
vaccination_EU_EEA_clean['YearWeekISO'] = pd.to_datetime(vaccination_EU_EEA['YearWeekISO'] + '-1', format="%Y-W%W-%w")

In [7]:
vaccination_EU_EEA_clean.head()

,YearWeekISO,ReportingCountry,FirstDose,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Vaccine,Population
0,2021-01-04,AT,0,0,0,0,AT,ALL,JANSS,8901064
1,2021-01-04,AT,5313,0,0,0,AT,ALL,COM,8901064
2,2021-01-04,AT,0,0,0,0,AT,ALL,NVXD,8901064
3,2021-01-04,AT,3,0,0,0,AT,ALL,UNK,8901064
4,2021-01-04,AT,0,0,0,0,AT,ALL,MOD,8901064

In [8]:
to_group=vaccination_EU_EEA_clean.copy().drop(labels=['DoseAdditional1','UnknownDose', 'Region', 'TargetGroup','Vaccine'], axis=1)

In [9]:
to_group.head()

  YearWeekISO ReportingCountry  FirstDose  SecondDose  Population
0  2021-01-04               AT          0           0     8901064
1  2021-01-04               AT       5313           0     8901064
2  2021-01-04               AT          0           0     8901064
3  2021-01-04               AT          3           0     8901064
4  2021-01-04               AT          0           0     8901064

In [10]:
to_group=to_group.loc[to_group['YearWeekISO']>='2021-01-04']

In [11]:
vaccination_grouped_country=to_group.groupby(['YearWeekISO','ReportingCountry']).agg({'FirstDose':'sum', 
                         'SecondDose':'sum', 
                         'Population':'mean'})
#vaccination_grouped_country['PercentFirstDose']=vaccination_grouped_country['FirstDose']/vaccination_grouped_country['Population']*100
#vaccination_grouped_country['PercentSecondDose']=vaccination_grouped_country['SecondDose']/vaccination_grouped_country['Population']*100

In [12]:
vaccination_grouped_country

                              FirstDose  SecondDose  Population
YearWeekISO ReportingCountry
2021-01-04  AT                    63288           0     8901064
            BE                    81152           0    11522440
            BG                    39491           0     6951482
            CY                     7700           0      888005
            CZ                   140778          13    10693939
...                                 ...         ...         ...
2022-02-28  NL                      782        1232    17407585
            PL                    38210       94104    37958138
            PT                     1542        3274    10295909
            SE                     2798        7167    10327589
            SK                      441        2322     5457873

[1810 rows x 3 columns]

In [13]:
vaccination_grouped_country[vaccination_grouped_country['ReportingCountry']=='ES']

KeyError: 'ReportingCountry'

In [25]:
#exporting clean datasets
vaccination_EU_EEA_clean.to_csv('../datasets_Tableau_clean/vaccination_EU_EEA_clean.csv')
vaccination_grouped_country.to_csv('../datasets_Tableau_clean/vaccination_grouped_country.csv')

In [26]:
#vaccination_EU_EEA['YearWeekISO']

In [27]:
#print(vaccination_EU_EEA['TargetGroup'].value_counts())
#print(vaccination_EU_EEA['TargetGroup'].value_counts().count())

In [28]:
#print(vaccination_EU_EEA['ReportingCountry'].value_counts())
#print(vaccination_EU_EEA['ReportingCountry'].value_counts().count())

In [29]:
vaccination_grouped_country.reset_index#=='SP']

<bound method DataFrame.reset_index of                               FirstDose  SecondDose  Population
YearWeekISO ReportingCountry
2021-01-04  AT                    63288           0     8901064
            BE                    81152           0    11522440
            BG                    39491           0     6951482
            CY                     7700           0      888005
            CZ                   140778          13    10693939
...                                 ...         ...         ...
2022-02-28  NL                      782        1232    17407585
            PL                    38210       94104    37958138
            PT                     1542        3274    10295909
            SE                     2798        7167    10327589
            SK                      441        2322     5457873

[1810 rows x 3 columns]>